<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="d-flex bd-highlight ">
            <div class="d-flex">
                <a class="nav-link me-2" href="/home" style="margin-left: 5px; display: flex; align-items: center;">
                    <img src="https://cdn.pixabay.com/photo/2016/08/25/07/30/red-1618916_960_720.png"
                        style="width: 35px; height: 35px;">
                    <p style="margin-left: 5px;margin-top: 8px ;display: inline-block;" class="me-2">Trang
                        Chủ</p>
                </a>
                <form class="d-flex mt-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search">
                        <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="ms-auto  bd-highlight">
                <nav class="navbar navbar-expand-sm ">
                    <div class="container-fluid">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="dropdown">
                                    <img src={{img}} style="width: 35px; height: 35px;" class="mr-3">
                                    <div class="d-flex flex-column" style="margin-left: 5px;">
                                        <p class="m-0">{{name}}</p>
                                        <p class="m-0">Admin</p>
                                    </div>
                                </a>
                                <ul class="dropdown-menu text-center">
                                    <p class="fw-bold">Welcome!</p>
                                    <li><a class="dropdown-item" href="/getThongTin"><i
                                                class="fas fa-user me-2"></i>Thông tin</a>
                                    </li>
                            </li>
                            <li><a class="dropdown-item" href="/login"><i class="fas fa-sign-out-alt me-2"></i>Đăng
                                    xuất</a></li>
                        </ul>
                        </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

 
</body>

</html>