<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="container p-5">
            <div class="row">
                <div class="col-sm-8 bg-primary text-center align-item-center">
                    <p>Lorem ipsum...</p>
                </div>
                <div class="col-sm-4 bg-light">
                    <p style="font-size: 20px; font-weight: bold; margin-bottom: -2px;">Đăng Ký</p>
                    <p>Vui lòng điền đây đủ thông tin</p>
                    {{#if check}}
                    <span style="color: red">{{check}}</span>
                    {{/if}}
                    <form action="/dangky" method="post">
                        <input type="hidden" name="imageUrl" id="imageUrlInput">
                        <div class="d-flex justify-content-center mb-2">
                            <img id="myImg" src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                class="rounded-circle" alt="example placeholder" style="width: 120px;" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" onclick="document.querySelector('input[type=file]').click()"
                                class="btn btn-primary">Chọn ảnh</button>
                            <input type="file" name="myImage" accept="image/*" onchange="loadFile(event)"
                                style="display:none" />
                        </div>

                        <script>
                         // :http://localhost:3030/uploads/Mau3.png
                            var loadFile = function (event) {
                                var image = document.getElementById('myImg');
                                image.src = URL.createObjectURL(event.target.files[0]);
                                
                                var imageUrlInput = document.getElementById('imageUrlInput');
                                // Chuyển đổi ảnh thành base64
                                var reader = new FileReader();
                                reader.onload = function (event) {
                                    var base64String = event.target.result;
                                    // Gán giá trị base64 vào input hidden
                                    imageUrlInput.value = base64String;
                                    // Hiển thị ảnh
                                    image.src = base64String;
                                };
                                reader.readAsDataURL(event.target.files[0]);
                                
                            };
                        </script>

                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating mt-3 mb-3">
                            <input type="text" class="form-control" id="pwd" placeholder="Nhập Tên" name="name">
                            <label for="pwd">Tên</label>
                        </div>
                        <div class="form-floating mt-3 mb-3">
                            <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                                name="pswd">
                            <label for="pwd">Password</label>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit" data-bs-toggle="modal"
                                data-bs-target="#myModal">
                                Đăng Ký
                            </button>
                        </div>
                    </form>
                    <div class="text-center p-3" style="margin-top: 40px;">
                        <p>Bạn đã có tài khoản? <a href="/login">Đăng Nhập</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>